Repository credfeto/credfeto-extensions-configuration-typed-json, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-configuration-typed-json, credfeto-extensions-configuration-typed-json-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Removed: Obsolete action
  .github/actions/nuget-push-integrated-symbol-feed/actions.yml
Labels: none

Removed: Obsolete action
  .github/actions/nuget-push-separate-symbol-feed/actions.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Removed: Obsolete action
  .github/workflows/reformat-sql.yml
Labels: github-actions

Removed: Obsolete action
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.204
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.205
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.3
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.7.1279
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.13.0.120203
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.302
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.8.1282
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.275.1526
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.302
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[PR] Updated labels
  .github/labels.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-configuration-typed-json":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json/**/*' ]
"credfeto-extensions-configuration-typed-json-tests":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
