Repository credfeto/credfeto-extensions-configuration-typed-json, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-configuration-typed-json, credfeto-extensions-configuration-typed-json-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-configuration-typed-json":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json/**/*' ]
"credfeto-extensions-configuration-typed-json-tests":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.215
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.2
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.305
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Changelog for 1.0.164
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.218
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.129.1430
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.24.1452
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.286.1682
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.165
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.219
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.2.0.1690
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.220
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown
