Repository credfeto/credfeto-extensions-configuration-typed-json, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-configuration-typed-json, credfeto-extensions-configuration-typed-json-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-configuration-typed-json":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json/**/*' ]
"credfeto-extensions-configuration-typed-json-tests":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.124.1351
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.304
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.17.1347
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.282.1603
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.159
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.125.1355
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.18.1350
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.7.0
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.160
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.283.1612
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.19.1359
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.126.1361
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.161
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.284.1617
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.20.1362
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.127.1366
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.162
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.21.1364
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.285.1620
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.163
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

<WarnOnPackingNonPackableProject>false</WarnOnPackingNonPackableProject>
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project

Cleanup: Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project
