Repository credfeto/credfeto-extensions-configuration-typed-json, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-configuration-typed-json, credfeto-extensions-configuration-typed-json-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-configuration-typed-json":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json/**/*' ]
"credfeto-extensions-configuration-typed-json-tests":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.2.0.1690
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change
