Repository credfeto/credfeto-extensions-configuration-typed-json, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-configuration-typed-json, credfeto-extensions-configuration-typed-json-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.13.1330
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.210
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.0
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.DuplicateCodeAnalyzer (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.14.0
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.15.0.120848
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.23.0
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.280.1580
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.155
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.121.1337
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.14.1336
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.156
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.122.1340
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.211
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.157
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.15.1339
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.281.1593
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.123.1345
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.16.1341
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.158
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.212
  CHANGELOG.md
  src/Credfeto.Extensions.Configuration.Typed.Json.Tests/Credfeto.Extensions.Configuration.Typed.Json.Tests.csproj
  src/Credfeto.Extensions.Configuration.Typed.Json/Credfeto.Extensions.Configuration.Typed.Json.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-configuration-typed-json":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json/**/*' ]
"credfeto-extensions-configuration-typed-json-tests":
 - any: [ 'src/$Credfeto.Extensions.Configuration.Typed.Json.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
